.main-bg {
    background-image: url('../imgs/main-bg.svg');
  background-size: cover;
  background-position: center center;
  color: white;
}

.white-bg {
  background: white;
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--gap);
}

.section {
  min-height: 100vh;
}

