.intro-content {
  position: relative;
  top: -8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content , .intro-img{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2{
  font-size: 8rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.intro-img img{
  min-height: auto;
  max-width: 100%;
}

.top3-content {
  display: flex;
  max-width: 64rem;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.grid-one-content{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  left: 5rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

.grid-main-heading {
  margin-bottom: 1rem;
}

.grid-description {
  padding-bottom: 3rem;
}